@model GymBooking.Models.BookViewModel

@{
    ViewData["Title"] = "Book";
}

<h1>Book</h1>

<div>
    <h4>GymClass</h4>
    <hr />
    <p style="color: red;">@Model.Message</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsBooked)
    {
        <a asp-action="Book" asp-route-id="@Model.Id" asp-route-unbook="true">Unbook</a>
    }
    else
    {
        <a asp-action="Book" asp-route-id="@Model.Id" asp-route-book="true">Book</a>
    }
</div>
